.inputboxborder {
  border: 1.12px solid #0046ae75;
}

.inputboxborder:focus {
  border: 1.12px solid #0046aeb9;
}

.border-color {
  border: 1.12px solid #ececec;
  box-shadow: 2px 4px 14.4px 0px #0000000f;
}

.border-color:focus {
  border: 1.12px solid #0046aeb9;
}

.locationinputobrder {
  border: 1px solid #dbdbdb;
}

.locationinputobrder:focus {
  border: 1px solid #dbdbdb;
}

.inputboxbgcolor {
  background: #0046ae21;
}

.btnshadow {
  box-shadow: 0px 2.77px 13.87px 0px #0000000f;
}

.typeborder {
  border-bottom: 1px solid #eeeeee;
  backdrop-filter: blur(7.199999809265137px);
  background: #00000008;
}

.typeborder:focus {
  border-bottom: 1px solid #0046aeb9;
}

.typeborderbtn {
  border: 1px solid #0046ae;
}

.bordercard {
  border: 1.6px solid #0046ae4a;
}

.bordercardbtn {
  border: 1.6px solid #0046aea1;
}

.serachbordercolor {
  border: 1px solid #dbdbdb;
}

.css-17jhxlz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  font-size: 16px !important;
  font-family: font-poppins !important;
  font-weight: 500 !important;
  color: gray !important;
}

/*  drop dwon */

/* .css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root{
  font-size: 16px !important;
  font-family: "font-poppins" !important;
  font-weight: 400 !important;
  color: gray !important;
} */

/* Add this to your CSS file (e.g., Listing/style.css) */
.hide-select-icon .MuiSelect-icon {
  display: none !important;
}

/* Custom opacity for unselected category */
.unselected-category {
  opacity: 0.4 !important;
}

/* Regular text color when category is selected */
.selected-category {
  color: black !important;
}
