.shadoleftside {
  box-shadow: 2px 2px 17px 0px #0000001f;
}

.photoservicedetailborderandshado {
  border: 2px solid #0046ae17;
  box-shadow: 8px 8px 21.2px 0px #00000008;
}

.bordercolorcard {
  border: 1px solid #0000001f;
}

.btnbordercolor {
  border: 1px solid #0046ae;
}

.borderxcolorwithshado {
  box-shadow: 0px 2px 10px 0px #0000001f;
  border-bottom: 1px solid #dbdbdb;
}

.revirecardbnt {
  box-shadow: 2px 4px 14.4px 0px #0000000f;
  border: 1px solid #00000014;
}

.reviewcardbnt:hover {
  box-shadow: 2px 4px 14.4px 0px #0000001f;
}
