.step-container {
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 0px 2px 10px 0px #0000001f;
}
.step-container1 {
  border: 1px solid #dbdbdb;
  box-shadow: 0px 2px 10px 0px #0000001f;
}

.linearcolor12 {
  background: linear-gradient(270deg, #0046ae 1.29%, #001d48 100%);
}

.bordercoloricon {
  border: 1px solid #0046ae;
}

.bordercoloronday {
  border: 1px solid #0046ae33;
}

.form-control {
  border: 1px solid #efefef !important;
  border-radius: 0.5rem !important;
  height: 58px !important;
  width: 100% !important;
}
.selected-flag {
  border: none !important;
  border-right: 1px solid #cacaca !important;
  width: 3.5rem !important;
  padding-left: 10px !important;
}
.flag-dropdown {
  border: none !important;
  background: none !important;
  border-right: 1px !important;
}
.PhoneInputCountryIcon {
  border: none !important;
  background: transparent !important;
}
.special-label {
  display: none !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .selected-flag {
  background-color: transparent !important;
}

.react-tel-input .country-list .search {
  border-bottom: 1px solid #ddd !important;
}

.react-tel-input .country-list .search-box {
  width: 90% !important;
  padding: 10px 15px !important;
  color: #000000 !important;
  font-weight: 500 !important;
}

.react-tel-input .country-list {
  outline: none !important;
  z-index: 1 !important;
  list-style: none !important;
  position: absolute !important;
  padding: 0 !important;
  margin: 10px 0 10px -1px !important;
  box-shadow: 1px 2px 10px #00000059 !important;
  max-height: 224px !important;
  overflow-y: scroll !important;
  border-radius: 7px !important;
  border: 1px solid #ddd !important;
}

.react-tel-input .country-list .search-box {
  width: 90% !important;
  padding: 10px 15px !important;
  color: #000000 !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
  border: none !important;
  outline: none !important;
  transition: width 0.3s ease-in-out !important;
}

/* extra small */

/* mobail screeen */
/* Extra small (mobile) screens */
@media (max-width: 400px) {
  .react-tel-input .country-list {
    width: 300px !important;
  }
}

/* Small (tablet and mobile) screens */
@media (min-width: 401px) and (max-width: 768px) {
  .react-tel-input .country-list {
    width: 340px !important;
  }
}

/* Medium (tablet) screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .react-tel-input .country-list {
    width: 370px !important;
  }
}

/* Large (desktop) screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .react-tel-input .country-list {
    width: 420px !important;
  }
}

/* Extra large (large desktop) screens */
@media (min-width: 1201px) {
  .react-tel-input .country-list {
    width: 432px !important;
  }
}

.deleteac {
  border-bottom: 1.39px solid #dbdbdb;
  box-shadow: 0px 2.77px 13.87px 0px #0000001f;
}

/* for locartion */

.gm-style-mtc-bbw {
  display: none !important;
}

/* In your CSS or stylesheet */
/* Apply styles for mobile screens */
@media (max-width: 767px) {
  .input-important {
    position: absolute !important;
    left: 1px !important;
    top: 10px !important;
  }
}

/* Apply styles for medium and larger screens */
@media (min-width: 768px) {
  .input-important {
    position: absolute !important;
    left: 33px !important;
    top: 29px !important;
  }
}

/*  meadia queriy  */

@media (min-width: 2000px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -17rem !important;
    top: 70px !important;
  }
}

@media (min-width: 400px) and (max-width: 460px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -10rem !important;
    top: 50px !important;
  }
}
@media (min-width: 1100px) and (max-width: 1138px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -26rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1140px) and (max-width: 1168px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -27.5rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1239px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -29rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1240px) and (max-width: 1300px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -30rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1400px) and (max-width: 1460px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -11rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1460px) and (max-width: 1500px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -11.8rem !important;
    top: 70px !important;
  }
}

 
@media (min-width: 1500px) and (max-width: 1600px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -9rem !important;
    top: 70px !important;
  }
}


@media (min-width: 1600px) and (max-width: 1700px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -10rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1700px) and (max-width: 1800px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -10.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 1800px) and (max-width: 1900px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -10.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2000px) and (max-width: 2031px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -12.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2031px) and (max-width: 2050px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -12.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2050px) and (max-width: 2100px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -13.2rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2100px) and (max-width: 2130px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -13.5rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2130px) and (max-width: 2155px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -14rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2155px) and (max-width: 2200px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -14rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2200px) and (max-width: 2250px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -14.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2250px) and (max-width: 2300px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -14.8rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2300px) and (max-width: 2350px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -15.5rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2350px) and (max-width: 2400px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -16rem !important;
    top: 70px !important;
  }
}

@media (min-width: 2400px) and (max-width: 2450px) {
  .responsivedesingicon {
    position: absolute !important;
    left: -16.5rem !important;
    top: 70px !important;
  }
}
