.deleteac {
  border-bottom: 1.39px solid #dbdbdb;
  box-shadow: 0px 2.77px 13.87px 0px #0000001f;
}

.cancelbordercolor {
  border: 1.31px solid #0046ae;
}

.feedbackbordercolor {
  border: 1px solid #ececec;
  box-shadow: 2px 4px 14.4px 0px #0000000f;
}

.applanguagebordercolor {
  border: 2px solid #0046ae;
}

.applanguagebordercolor11 {
  border: 2px solid #ffffff;
}

.isvistedvbordercolor {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
